*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p,hr,ul{
    margin: 0 !important;
}
ul {
    padding: 0 !important;
}
h6{
    text-align: center;
    text-wrap: nowrap;
    padding-bottom: 10px;
}
.hidden {
    display: none !important;
}
.box{
    display: none;
}
.admin {
    
    .left {
       
        background-color: rgb(235, 59, 117);
        color: white;  
        li {
            display: flex;
            align-items: center;
            padding: 20px;
            &:hover {
                background-color: white;
                color: black;
            }
        } 
    }
       
        header {
            height: 50px;
            position: relative;
            text-wrap: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid white;
            padding: 0 20px;
            .icon{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: black;
                color: aliceblue;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
       
    }
    .right {
        background-color: rgb(246, 155, 170);
        header {
            height: 50px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
        }
        .card {
            .card_img {
                width: 50%;
                margin: auto;
            }
            span{
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(235, 59, 117 );
                color: wheat;
                border-radius: 50%;
            }
        }  
        .order, .pay{
            .nav-tabs{
                border-bottom: none;
            }
            .dropdown-toggle  {
                border: 1px solid black;
                border-radius: 10px;
            }
            .od{
                background-color:rgb(235, 59, 117 ) ;
                color: aliceblue;
                border: 1px solid black;
                border-radius: 10px;
            }
        }
        .order2{
            button{
                width: 30px;
                height: 30px;
            }
            p, .fa-pen-to-square{
                color:rgb(235, 59, 117 ) ;
            }
        }
    }
        table{
            border-collapse: collapse;
            border-bottom: 1px gray black;
            width: 100%;
        }
        table, td, th{
            padding: 15px;
            text-align: center;
        }
#cart {
    img {
        width: 50px;
    }
}
/* tablet tro len  */
@media screen and (min-width: 768px) {
   .admin {
    display: flex;
    .left {
        height: 100vh;
        .icon{
            position: absolute;
        
            right: 0;
            transform: translateX(50%);
            color: aliceblue;
            
        }
    }
    .right {
        flex: 1;
    }
   }
}

/* mobile */
@media screen and (max-width: 767px) {
    .icon{
        position: absolute;
        right: 10px;
    }
    .menu{
        display: none;
    }
}